// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,300,400,500,600,700,800,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';


header
{
    background-color: $azul;
    position: relative; 
    padding: 5px;
    ul
    {
        margin-bottom: 0;
        a
        {
            color: #fff;
            font-family: $fuente-secundaria;
            font-size: 13px;
            font-weight: 300;
            transition: color 0.3s ease-in-out;
            &:hover
            {
                color: rgba(255,255,255,0.75);
            }
        } 
    }
}

a:link
{
    text-decoration:none;
}

.contenedor-menu
{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
}

nav.navbar
{
    height: 80px;
}

.menu
{
    ul
    {
        a
        {
            color: #000 !important;
            font-family: $fuente-principal;
            font-weight: 700;
            transition: color 0.3s ease-in-out;
            &:hover
            {
                color: $azul !important;
            }
        }
    }
}

div.hero
{ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    div.container
    {
        height: 500px;
    }

    h3.texto-principal
    {
        font-size: 4em;
        font-family: $fuente-principal;
        font-weight: 600;
        color: #fff;
    }
}

h1,h3.titulo
{
    font-family: $fuente-principal;
    font-size: 2em;
    font-weight: 200;
}

h2, h3.texto-secundario
{
    font-family: $fuente-principal;
    font-size: 1.1em;
    font-weight: 400;
    color: $gris;
}

h3.texto-secundario
{
    color: $gris-obscuro;
}

div.tmb-tours-medianos
{

    div.curva
    {
        border-radius: 4px !important;
    }

    div.categorias
    {
        height: 136px !important;
    }

    div.fondo
    {
        width: 100%;
        height: 273px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
        overflow: hidden;
        border-radius: 8px 8px 0px 0px;
        
        >img 
        {
            position: absolute;
            width: 100%;
        }

        div.fondo-color
        {
            width: 100%;
            height: 273px;
            border-radius: 4px;
            position: absolute;
            z-index:99;
            transition: color 0.3s ease-in-out;
        }

        &:hover div.fondo-color
        {
            background: rgba(46,46,46,0);
            background: -moz-linear-gradient(top, rgba(46,46,46,0) 79%, rgba(46,46,46,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(79%, rgba(46,46,46,0)), color-stop(100%, rgba(46,46,46,1)));
            background: -webkit-linear-gradient(top, rgba(46,46,46,0) 79%, rgba(46,46,46,1) 100%);
            background: -o-linear-gradient(top, rgba(46,46,46,0) 79%, rgba(46,46,46,1) 100%);
            background: -ms-linear-gradient(top, rgba(46,46,46,0) 79%, rgba(46,46,46,1) 100%);
            background: linear-gradient(to bottom, rgba(46,46,46,0) 79%, rgba(46,46,46,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#2e2e2e', GradientType=0 );
        }

        div.texto
        {
            z-index: 100;
        }

        a.categoria
        {
        font-family: $fuente-secundaria;
        color: #fff;
        display: inherit;
        margin-top: 4px;
        font-weight: 100;
        }

        a.tour
        {
            color: #fff;
            font-size: 1.5em;
            font-family: $fuente-principal;
        }
        
    }
}

div.fondo-populares
{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover !important;
    margin-top: 90px;
    padding: 40px 0;

    h3.titulo
    {
        color: #fff;
    }
}

img.ico-top-categorias
{
    width: 32px !important;
}

.slider
{
  .fondo
  {
    height: 185px !important;
  }
}

.tours-populares
{
    .ico-tours-populares
    {
        z-index: 150;
        padding: 12px 31px;
        margin-bottom: -55px;
        
        span
        {
            font-family: "Hind Siliguri", sans-serif;
            font-size: 1.1em;
            background-color: #24C358;
            color: #fff;
            font-weight: 400;
            padding: 3px 12px;
            border-radius: 6px;
        }
    }    
}

div.texto-tours-populares
{
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;

    p
    {
        padding: 0;
        margin: 0;
        font-size: 0.9em;
        color: $gris;
    }

    div
    {
        div
        {
            font-size: .9em;
            font-family: $fuente-secundaria;
        }
    }
}

div.texto-tours-populares
{
    img
    {
        width: 16px;
        height: 16px;
    }
}

.promocion
{
    font-family:$fuente-principal;
    h3
    {
        font-size: 1.7em;
        font-weight: 200;
    }

    .tour
    {
        font-size: 2.2em;
        font-weight: 400;
        color: #fff
    }

    .descripcion
    {
        color:#fff;
        margin-bottom: 45px;
    }

    a
    {
        background-color: #24C358;
        padding: 10px;
        color: #fff;
        border-radius: 4px;
        font-family: $fuente-secundaria;
        transition: color 0.5s ease-in-out;
        &:hover
        {
            background-color: #1196DD;
        }
        
    }
}

footer
{
    background-color: #20212D;
    .datos-footer
    {
        padding: 45px;
    }

    div.primer-contenedor
    {
        border-right: 1px solid #fff;
    }
    p
    {
        color: #fff;
        font-size: .9em;
        font-family: $fuente-secundaria;
        margin: 0;
    }
    h4.titulo-footer
    {
        color: #fff;
        font-family: $fuente-principal;
        margin-bottom: 18px;
    }
    ul
    {
        color: #fff;
        font-family: $fuente-secundaria;
        list-style: none;
        padding: 0;
        li
        {
            margin-bottom: 10px;
        }
    }

    .copy
    {
        background-color: #131420;

        div
        {
            padding: 5px;

            p
            {
                font-size: .8em;
            }
        }
    }
}


