@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700&display=swap);@import url(https://fonts.googleapis.com/css?family=Catamaran:100,300,400,500,600,700,800,900&display=swap);header {
  background-color: #0086cd;
  position: relative;
  padding: 5px;
}

header ul {
  margin-bottom: 0;
}

header ul a {
  color: #fff;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 13px;
  font-weight: 300;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header ul a:hover {
  color: rgba(255, 255, 255, 0.75);
}

a:link {
  text-decoration: none;
}

.contenedor-menu {
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

nav.navbar {
  height: 80px;
}

.menu ul a {
  color: #000 !important;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu ul a:hover {
  color: #0086cd !important;
}

div.hero {
  background-size: cover !important;
}

div.hero div.container {
  height: 500px;
}

div.hero h3.texto-principal {
  font-size: 4em;
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  color: #fff;
}

h1,
h3.titulo {
  font-family: "Catamaran", sans-serif;
  font-size: 2em;
  font-weight: 200;
}

h2,
h3.texto-secundario {
  font-family: "Catamaran", sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  color: #75706b;
}

h3.texto-secundario {
  color: #e4e4e4;
}

div.tmb-tours-medianos div.curva {
  border-radius: 4px !important;
}

div.tmb-tours-medianos div.categorias {
  height: 136px !important;
}

div.tmb-tours-medianos div.fondo {
  width: 100%;
  height: 273px;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  border-radius: 8px 8px 0px 0px;
}

div.tmb-tours-medianos div.fondo > img {
  position: absolute;
  width: 100%;
}

div.tmb-tours-medianos div.fondo div.fondo-color {
  width: 100%;
  height: 273px;
  border-radius: 4px;
  position: absolute;
  z-index: 99;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

div.tmb-tours-medianos div.fondo:hover div.fondo-color {
  background: rgba(46, 46, 46, 0);
  background: -webkit-gradient(left top, left bottom, color-stop(79%, rgba(46, 46, 46, 0)), color-stop(100%, #2e2e2e));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(79%, rgba(46, 46, 46, 0)), to(#2e2e2e));
  background: linear-gradient(to bottom, rgba(46, 46, 46, 0) 79%, #2e2e2e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#2e2e2e", endColorstr="#2e2e2e", GradientType=0 );
}

div.tmb-tours-medianos div.fondo div.texto {
  z-index: 100;
}

div.tmb-tours-medianos div.fondo a.categoria {
  font-family: "Hind Siliguri", sans-serif;
  color: #fff;
  display: inherit;
  margin-top: 4px;
  font-weight: 100;
}

div.tmb-tours-medianos div.fondo a.tour {
  color: #fff;
  font-size: 1.5em;
  font-family: "Catamaran", sans-serif;
}

div.fondo-populares {
  background-size: cover !important;
  margin-top: 90px;
  padding: 40px 0;
}

div.fondo-populares h3.titulo {
  color: #fff;
}

img.ico-top-categorias {
  width: 32px !important;
}

.slider .fondo {
  height: 185px !important;
}

.tours-populares .ico-tours-populares {
  z-index: 150;
  padding: 12px 31px;
  margin-bottom: -55px;
}

.tours-populares .ico-tours-populares span {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 1.1em;
  background-color: #24C358;
  color: #fff;
  font-weight: 400;
  padding: 3px 12px;
  border-radius: 6px;
}

div.texto-tours-populares {
  background-color: #fff;
  padding: 10px;
  border-radius: 0px 0px 8px 8px;
}

div.texto-tours-populares p {
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #75706b;
}

div.texto-tours-populares div div {
  font-size: 0.9em;
  font-family: "Hind Siliguri", sans-serif;
}

div.texto-tours-populares img {
  width: 16px;
  height: 16px;
}

.promocion {
  font-family: "Catamaran", sans-serif;
}

.promocion h3 {
  font-size: 1.7em;
  font-weight: 200;
}

.promocion .tour {
  font-size: 2.2em;
  font-weight: 400;
  color: #fff;
}

.promocion .descripcion {
  color: #fff;
  margin-bottom: 45px;
}

.promocion a {
  background-color: #24C358;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
  font-family: "Hind Siliguri", sans-serif;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.promocion a:hover {
  background-color: #1196DD;
}

footer {
  background-color: #20212D;
}

